/*  your css code here. If applicable */
body{
	background-color: rgb(135, 206, 235);
}
h3{
background-color: black;	
	color:white;
}
p::after{
	content:"consequuntur asperiores sequi est nemo corporis nulla eveniet iure atque incidunt explicabo nostrum!"


}
p::after{
	color:red;
}
li:nth-child(4n+1){
	background-color: white;
	width:750px;
	height:30px;
}
li:nth-child(3){
	background-color: pink;
	height:30px;
	width:750px;
}
li:nth-child(even){
	background-color: gray;
	height:30px;
	width:750px;
}
